<header>
    <nav class="navbar">
      <div class="logo" routerLink="/">MyApp</div>
      <ul class="nav-links">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        <li><a routerLink="/parent" routerLinkActive="active">Parent</a></li>
        <li><a routerLink="/feedback" routerLinkActive="active">Feedback</a></li>
        <li><a routerLink="/task-board" routerLinkActive="active">Task Board</a></li>
        <li><a routerLink="/rxjs-operators" routerLinkActive="active">Rxjs Operators</a></li>
      </ul>
    </nav>
  </header>
  