* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f4f7;
  padding: 2rem;
  color: #333;
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}
/* You can add global styles to this file, and also import other style files */
